@import "tailwindcss";

@theme {
  --color-text: #6b6375;
  --color-bg: #ffffff;
  --color-accent: #aa3bff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: #9ca3af;
    --color-bg: #16171d;
    --color-accent: #c084fc;
  }
}

html {
  scroll-behavior: smooth;
}

:root {
  font: 18px/145% system-ui, 'Segoe UI', Roboto, sans-serif;
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--color-text);
  background: var(--color-bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}
